
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3300:3300"
    volumes:
      - ./src:/app/src
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5000:5000"
    volumes:
      - ./users:/app/users
    environment:
      - FLASK_ENV=production
      - FLASK_DEBUG=False
      - JWT_SECRET=jwt-secret-key-in-production-for-glifeist

    restart: unless-stopped
