.note-tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 100%;
}

.editor-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.editor-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #6c757d;
  font-size: 16px;
}
